
@keyframes navarro{
    0%{
        background-image: url("/imagenes/deporte.jpg");
    }
    25%{
        background-image: url("/imagenes/jota.jpg");

    }
    50%{

        background-image: url("/imagenes/d.jpg");

    }
    75%{
        background-image: url("/imagenes/papapa.jpg");
    }
    100%{
        background-image: url("/imagenes/aprobe.jpg");
    }

}
